---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Full Stack</h2>
    <p>
      Actualmente cuento con la habilidad de manejar HTML, CSS, JavaScript,
      Node.js, React, Angular, MongoDB, MySQL, etc.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Líder de la industria</h2>
    <p>
      Actualmente cuento con una amplia experiencia laboral trabajando ya desde
      hace 7 años en telefonia , internet y television siendo el encargado del
      area tecnica . Actualmente trabajo en esta empresa llamada Cospec.ltd
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Mentalidad Estratégica</h2>
    <p>
      buscar soluciones innovadoras, tomar decisiones basadas en datos y
      análisis, y visualizar un futuro mejor. Implica identificar oportunidades,
      comprender las capacidades y recursos de la organización y las necesidades
      de los clientes y partes interesadas.Evaluar los riesgos y oportunidades
      de diferentes opciones para alcanzar objetivos a largo plazo.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
